<h1>Manual JpgraphBundle</h1>

This is the manual page of JpgraphBundle. Here is explained all about this project. 

<h2>Installation</h2>

Download and put in vendor directory jpgraph. It's necessary that the directory name is vendor/jpgraph. The source code is in src directory.<br/><br/>

Note: If you want to disable imageantialias you must open the file /vendor/jpgraph/src/gd_image.inc.php, find the function SetAntiAliasing and comment this line out like this:
1
// JpGraphError::RaiseL(25128);//('The function imageantialias() is not available in your PHP installation. Use the GD version that comes with PHP and not the standalone version.')
Update (20110215): Comment out just this line, not the whole function :)

This is a quick fix; we disabled antialiasing.


