
<h1>Show style</h1>

<h2>{{ style_name }}</h2>


<table class="records_list">
    <thead>
        <tr>
            <th>option</th>
            <th>value</th>
        </tr>
    </thead>
    <tbody>
    {% for option,value in options %}
        <tr>
            <td>{{ option }}</td>
            <td>{{ value }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">No options</td>
        </tr>        
    {% endfor %}
    </tbody>
</table>
