<table width="100%" style="border-width: 1px;border-color: black;border-style: solid; text-align: left" id="table_for_graphviewercombineform{{ num }}">
    <tr>
        <td>
            {# include_partial('data/viewercombineform', array('form'=>$graphviewercombineform,'vars'=>$vars /*igual no se usa*/, 'combine'=>$combine, 'urlopts'=>$url)) #}
        </td>
        <td><div style="z-index: 9" id="{#echo $graphviewercombineform->getName() #}" style="border-width: 1px"></div></td>
    </tr>
</table>
